# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MissionSystem.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\harve\RiderProjects\MissionSystem\.idea\.idea.MissionSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
